<h1> Portfolio Items </h1>

<%# <a href="portfolios/new"> Create New Portfolio </a> %>

<%= render "shared/portfolio_jumbotron" %>

<%= link_to 'Create New Portfolio', new_portfolio_path  if logged_in?(:site_admin) %>

<div class="row">
    <%= render @portfolios %>
</div>